* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  } 

body {
    background-color: #fef2f2;
}

nav {
    position: fixed;
    right: 0;
    width: 85%;
    height: 10%;
    font-family: 'Montserrat', sans-serif;
    background-color: #fef2f2 ;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    font-weight: bold;
    cursor: pointer;
}

.nav-items {
    display: flex;
    justify-content: flex-end;
    gap: 35px;
    margin-top: 25px;
    margin-right: 25px;
    font-size: 20px;
    color: black;
}

.list-item {
    list-style-type: none;
}

.sidebar {
    display: inline-block;;
    position: fixed;
    height: 100%;
    width: 15%;
    z-index: 1;
    background: #B91C1C;
    background: -webkit-linear-gradient(to bottom, #B91C1C 0%, #FCA5A5 100%);
    background: -moz-linear-gradient(to bottom, #B91C1C 0%, #FCA5A5 100%);
    background: linear-gradient(to bottom, #B91C1C 0%, #FCA5A5 100%);
    box-shadow: #666470 0px 8px 24px;
}

.flex-item  {
    display: flex;
    flex-direction: column;
    padding: 25px 25px 25px 45px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
    opacity: 0.8;
    font-size: 22px;
}

.highlight:hover {
    background-color: #fb7185;
}

.sidebar .flex-item a {
    text-decoration: none;
    opacity: 0.7;
}

.sidebar .flex-item a:hover {
    opacity: 1.0;
    font-weight: bold;
}

.sidebar .flex-item a:visited {
    color: white;
}

.dash {
    color: white;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Courgette', cursive;
}

.dash-wrapper {
    margin: 35px 0 35px 0;
}

.grid-wrapper {
    display: grid;
    border: transparent;
    width:85%;
    right: 0;
    position: fixed;
    margin-top: 5.5%;
    height: 100%;
    grid-template-columns: 2fr 200px;
    background-color: #fef2f2;
}

.grid-item {
    display: grid;
    border: transparent;
    max-width: 80%;
    max-height: 80%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #fee2e2 ;
}

.stats {
    display: grid;
    grid-row: span 2;
    margin: 25px 0 0 55px;
}

.stats-body {
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(3, auto);
}

.stat-item {
    display: grid;
    border: 1px solid rgba(0, 0, 0, 0.24);
    max-width: 100%;
    max-height: 100%;
}

.feed {
    grid-row: span 3;
    width: 300px;
    height: 300px;
    margin: 25px 20px 0 -80px;
}

.user-info {
    grid-row: span 4;
    margin: 10px 0 50px 55px;
}

.move-up {
    margin-bottom: 60px;
}

.software-trends,
.total-sales,
.site-traffic {
    padding: 10px;
    font-size: 18px;
    text-align: center;
    color: gray;
}

.software-container {
    display: flex;
    justify-content: space-evenly;
}

.sales-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.sales-stats {
    font-size: 38px;
    font-weight: bold;
    color: green;
    align-items: center;
}

.sales-photo {
    display: flex;
    align-items: center;
}

.traffic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.traffic-stat {
    font-size: 36px;
    color: black;
}

.metric-green {
    margin-top: 10px;
    color: green;
    font-weight: bold;
}

.metric-red {
    margin-top: 10px;
    color: red;
    font-weight: bold;
}

.user-profile-container {
    display: flex;
    flex-direction: row;
}

.user-profile {
    padding: 10px;
    font-size: 22px;
    text-align: center;
    color: black;
}

.user {
    width: 75px;
    height: 75px;
    margin: 0 0 175px 40px;
    border: transparent;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 50%;
}

.user-name {
    margin: 5px 0 0 15px;
}

.online-status {
    margin-top: 5px;
    margin-left: -5px;
    display: flex;
    align-items: center;
}

.user-bio {
    display: flex;
    font-size: 14px;
    white-space: nowrap;
    margin-left: -30px;
    margin-top: 5px;
}

.user-options-container {
    margin-top: 10px;
}

.left {
    font-size: 14px;
    margin: 5px 0 0 -35px;
    color: gray;
}

.left:hover {
    cursor: pointer;
}

.block {
    display: block;
    width: 100%;
    height: 100%;
    padding: 8px;
}

hr {
    margin-top: 5px;
    color: #fef2f2;
}